#userForm {
	height: 420px;
	margin: 5rem auto;
	width: 70%;
}

#userForm .login,
#userForm .register {
	padding: 0;
	height: 400px;
	width: 100%;
}

#userForm .register {
	align-items: center;
}

#userForm .ui.stackable.grid {
	width: 100%;
}

#userForm .ui.stackable.grid > .column {
	margin: 0 auto;
}

#userForm h2 {
	color: white !important;	/*white*/
	letter-spacing: .1rem;
}

#userForm .field {
	margin: 0 auto;
}

#userForm .googleLogin,
#userForm .ui.form input,
#userForm .ui.form .ui.button {
	border: none;
	font-size: 17px;
	height: 50px;
	margin: 10px 5%;
	width: 90%;
}

#userForm .googleLogin {
	background: white url("/google-normal.png") no-repeat center;
	border-radius: .28571429rem;
}

#userForm .googleLogin:hover {
	background: #eeeeee url("/google-hover.png") no-repeat center;
}

#userForm .ui.pointing.label {
	position: absolute;
	left: 5%;
	background-color: #eb706c;		/*red*/
	color: white !important;	/*white*/
	font-size: 14px;
	margin-top: 67px;
}

@media only screen and (max-width: 768px) {
	#userForm,
	#userForm .login,
	#userForm .register {
		width: 100%;
	}

	#userForm .ui.one.column.stackable.grid > .column {
		padding: 25px 0 !important;
	}

	#userForm .ui.form .googleLogin,
	#userForm .ui.form input,
	#userForm .ui.form .ui.button {
		height: 46px;
		margin: 7px 5%;
	}
}