#setsList {
	margin-bottom: 50px;
}

#setsList .ui.cards {
	justify-content: left;
}

.ui.green.create.button {
	font-size: 32px;
	height: 350px;
	line-height: 24px;
}

#setsList .setItem {
	box-shadow: none;
	height: 350px;
	margin: 20px 3%;
	width: 27%;
}

.setItem .front,
.setItem .back {
	padding: 20px 20px;
}

.setItem .front .header {
	margin-top: 25%;
	font-size: 36px;
	line-height: 45px;
	width: 100%;
	word-wrap: break-word;
}

.setItem .back .ui.button {
	height: 50px;
	margin-bottom: 10px;
	width: 50px;
}

.setItem .back .icon {
	font-size: 18px;
}

@media only screen and (max-width: 1200px) {
	#setsList .setItem {
		margin: 20px 5%;
		width: 40%;
	}

	#setsList .setItem .header {
		margin-top: 20%;
	}
}

@media only screen and (max-width: 768px) {
	#setsList .ui.cards {
		justify-content: center;
	}

	#setsList .setItem {
		width: 70%;
	}

	#setsList .setItem .dropdown {
		left: 66%;
	}

	#setsList .setItem .header {
		margin-top: 65px;
	}
}