#cardSlideshow {
	padding: 30px;
}

#cardSlideshow > h1 {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}

#cardSlideshow > .ui.button {
	font-size: 16px;
	margin: 8px 0 20px 0;
	padding: 10px 15px;
}

.react-slideshow-container {
	width: 70%;
}

.images-wrap > div {
	overflow: hidden;
}

.slide {
	font-size: 24px;
	height: 350px;
}

.slide .body {
	width: 100%;
	word-wrap: break-word;
}

.slide.last .ui.button {
	display: block;
	margin: 25px 0 0 calc(50% - 53px);
}

@media only screen and (max-width: 1200px) {
	.slide {
		height: 300px;
	}
}

@media only screen and (max-width: 992px) {
	.slide {
		height: 250px;
	}
}

@media only screen and (max-width: 768px) {
	.react-slideshow-container {
		width: 90%;
	}
}