#cardsList {
	padding: 30px;
}

#cardsList > h1 {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}

.topButtons {
	margin: 20px 0;
}

.topButtons .ui.button {
	font-size: 16px;
	margin-right: 10px;
}

#cardsList .ui.blue.button {
	display: block;
	width: 120px;
	margin: 10px 1.5% 0 auto;
}

#cardsList .ui.cards {
	align-items: center;
}

#cardsList .ui.cards > .card {
	box-shadow: none;
	font-size: 20px;
	height: 230px;
	line-height: 2rem;
	margin: 20px 1.6%;
	text-align: center;
	width: 30%;
}

.ui.checkbox {
	position: absolute;
	left: 10px;
	top: calc(50% - 8px);
	z-index: 1;
}

.card .body {
	height: 100%;
	width: 100%;
	transition: transform 700ms;
	transform-style: preserve-3d;	/*calculates post-rotation position*/
}

.body .front,
.body .back {
	position: absolute;
	display: flex;
	align-items: center;
	backface-visibility: hidden;	/*hides flipped after-image*/
	border-radius: .3rem;
	padding: 30px 35px;
	height: 100%;
	width: 100%;
}

.body .back {
	transform: rotateX(180deg);
}

div[contenteditable="true"] {
	width: 100%;
    word-wrap: break-word;
}

.body .ui.button {
	position: absolute;
	right: -3px;
	top: 0;
	padding: 6px 6px 6px 10px;
}

.body .exchange.icon {
	font-size: 20px;
}

@media only screen and (max-width: 1200px) {
	#cardsList .ui.blue.button {
		margin-right: 4%;
	}

	#cardsList .ui.cards > .card {
		width: 40%;
		margin: 20px 5%;
	}

	.body .ui.button {
		right: -4px;
	}
}

@media only screen and (max-width: 992px) {
	#cardsList .ui.cards > .card {
		height: 250px;
		width: 90%;
	}
}