#cardSlideshow {
	color: white !important;	/*white*/
	padding: 30px;
}

#cardSlideshow > h1 {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	word-wrap: break-word;
}

#cardSlideshow h1 .ui.button {
	font-size: 16px;
	margin: 10px 15px 10px 0;
	padding: 10px 15px;
}

#cardSlideshow .react-slideshow-container {
	margin: 0 auto;
	width: 70%;
}

#cardSlideshow .images-wrap > div {
	overflow: hidden;
}

.slide {
	font-size: 24px;
	height: 350px;
}

.slide .body {
	width: 100%;
	word-wrap: break-word;
}

.slide.last {
	background-color: gray;	/*light-gray*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide.last .ui.button {
	display: block;
	margin: 25px 0 0 calc(50% - 53px);
}

@media only screen and (max-width: 1200px) {
	.slide {
		height: 300px;
	}
}

@media only screen and (max-width: 992px) {
	.slide {
		height: 250px;
	}
}

@media only screen and (max-width: 768px) {
	.react-slideshow-container {
		width: 90%;
	}
}