#cardsList {
	padding: 30px;
}

#cardsList > h1 {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}

.topButtons {
	margin: 20px 0;
}

.topButtons .ui.button {
	font-size: 16px;
	margin-right: 10px;
}

#cardsList .ui.blue.button {
	display: block;
	width: 120px;
	margin: 10px 1.5% 0 auto;
}

#cardsList .ui.cards {
	align-items: center;
}

#cardsList .ui.cards > .card {
	box-shadow: none;
	font-size: 20px;
	height: 230px;
	line-height: 2rem;
	margin: 20px 1.6%;
	width: 30%;
}

.card .ui.checkbox {
	left: 10px;
	top: calc(50% - 8px);
	z-index: 1;
}

.card div[contenteditable="true"] {
	outline: 0;
	width: 100%;
    word-wrap: break-word;
}

@media only screen and (max-width: 1200px) {
	#cardsList .ui.blue.button {
		margin-right: 4%;
	}

	#cardsList .ui.cards > .card {
		width: 40%;
		margin: 20px 5%;
	}

	.flipCard .ui.button {
		right: -4px;
	}
}

@media only screen and (max-width: 992px) {
	#cardsList .ui.cards > .card {
		height: 250px;
		width: 90%;
	}
}