
#mainContainer > .ui.container {
	padding-top: 40px;
}

.ui.inverted.secondary.pointing.menu {
	border: 0;
	font-size: 18px;
	letter-spacing: .12rem;
}

/*Colors*/
body {
	background-color: #fa8072;	/*light-red*/
}

.ui.inverted.secondary.pointing.menu a,
.ui.stackable.grid h2 {
	color: white !important;	/*white*/
}

.login {
	background-color: #84b7df;		/*light-blue*/
}

.login .ui.submit.button {
	background-color: #429bd8;		/*blue*/
}

.register {
	background-color: #6fd57f;		/*light-green*/
}

.register .ui.submit.button {
	background-color: #46c04f;		/*green*/
}