body {
	background-color: #96dae0;	/*cyan*/
}

.ui.main.container {
	padding-top: 40px;
}

.ui.negative.message {
	text-align: center;
}

.ui.blue.button:not(:hover) {
	background-color: #429bd8;		/*blue*/
}

.ui.green.button:not(:hover) {
	background-color: #33b23c;		/*green*/
}

.ui.create.button:not(:hover) {
	background-color: #57ce73;		/*light-green*/
}

.card:not(.create) {
	background-color: transparent !important;
}

.icon:not(.plus) {
	margin: 0 !important;
}

a {
	outline: none;
}