.ui.main.container {
	padding-top: 40px;
}

#header {
	border: 0;
	font-size: 18px;
	letter-spacing: .12rem;
}

.icon:not(.plus) {
	margin-right: 0 !important;
}

/*Colors*/
body {
	background-color: #fa8072;	/*light-red*/
}

.register .ui.label,
#modalDelete.ui.modal,
#modalDelete.ui.modal > * {
	background-color: #e65550;		/*red*/
}

#modalUpdate.ui.modal,
#modalUpdate.ui.modal > * {
	background-color: #df994e;		/*light-orange*/
}

.ui.orange.button:not(:hover) {
	background-color: #e07b26;		/*orange*/
}

.login {
	background-color: #6fb1e3;		/*light-blue*/
}

.ui.blue.button:not(:hover) {
	background-color: #429bd8;		/*blue*/
}

.register,
#setsList .ui.green.button:not(:hover),
#modalCreate.ui.modal,
#modalCreate.ui.modal > * {
	background-color: #59cf6c;		/*light-green*/
}

.ui.green.button:not(:hover) {
	background-color: #33b23c;		/*green*/
}

#header a,
.login h2,
.register h2,
.register .ui.label,
#setsList .plus.icon,
#setsList .header,
#setsList .ellipsis.vertical.icon,
.modal .header,
.modal .content,
.modal label {
	color: white !important;	/*white*/
}

#setsList .setItem .dropdown {
	background-color: white;	/*white*/
}

#setsList .setItem .dropdown a,
.ui.active.modal a {
	color: #333333 !important;		/*black*/
}