.ui.active.modal {
	padding: 10px 20px 0 20px;
}

.ui.active.modal *:not(a):not(input) {
	color: white !important;	/*white*/
}

.ui.active.modal .header {
	border: none;
	font-size: 24px;
	padding-bottom: 0;
}

.ui.active.modal .content {
	border: none;
	font-size: 18px;
}

.ui.active.modal label,
.ui.active.modal input {
	font-size: 18px;
	margin-bottom: 10px;
}

.ui.active.modal .ui.button {
	font-size: 15px;
	height: 40px;
	vertical-align: top;
}

#modalDelete,
#modalDelete > * {
	background-color: #eb706c;		/*red*/
}